/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #c2c2ff; /* Azul claro */
    margin: 0;
    padding: 0;
}

/* Estilos para el contenedor de la imagen */
.logo-container {
    text-align: center; /* Centramos horizontalmente */
}

/* Estilos para la imagen de UNL */
.unl-logo {
    max-width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
}

/* Estilos para el contenedor principal */
.container {
    position: relative;
    max-width: 800px;
    margin: 50px auto 0; /* Ajustamos el margen superior para separar la imagen del contenido */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el título */
h1 {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

/* Estilos para el formulario de inicio de sesión */
#loginForm {
    text-align: center;
    position: relative; /* Añadimos posición relativa para que los elementos absolutos se posicionen con respecto a este formulario */

}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

/* Estilos para el campo de correo electrónico y de contraseña */
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2;
}

/* Estilos cuando el campo tiene el foco */
input[type="email"]:focus,
input[type="password"]:focus {
    border: 2px solid #007bff;
}

/* Estilos para el botón de mostrar/ocultar contraseña */
.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: transparent; /* Mantenemos el fondo transparente para conservar el estilo original */
    border: none; /* Quitamos el borde para mantener el estilo original */
}


button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
